@import "../css/variables";

li {
  text-decoration: none;
  display: flex;
  border: 2px solid black;
  //   box-shadow: var(--shadow-elevation-medium);
  border-radius: 15px;
  text-align: left;
  //   background-color: $lightmint;
  .left,
  .right {
    width: 50%;
  }
  .left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
  }
  .right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      margin: 0;
      span {
        font-weight: bold;
      }
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .incdec {
    display: flex;
    justify-content: space-between;
  }
  button {
    background-color: $lightblue;
    margin: 0 auto;
    border: none;
    font-size: 1.6rem;
    // margin-top: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
}

@media (hover: hover) and (pointer: fine) {
  li {
    button:hover {
      background-color: $melon;
    }
  }
}

@media screen and (max-width: 468px) {
  li {
    flex-direction: column;
    .left {
      width: 100%;
    }
    .right {
      width: calc(100% - 18px);
    }
    .left {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
    }
    .right {
      padding: 9px;
      p {
        margin: 10px 0;
      }
    }
    .incdec {
      margin: 10px 0;
    }
    button {
      margin: 10px auto;
    }
  }
}
