@import "../css/variables";

.basket {
  margin: 0 auto;
  padding: 20px 50px;
  font-size: 2rem;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  background-color: white;
  box-shadow: var(--shadow-elevation-medium);
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
  }
}

@media screen and (max-width: 1144px) {
  .basket {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 786px) {
  .basket {
    ul {
      grid-template-columns: 1fr;
    }
  }
}
