@import "../css/variables";

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
  background-color: white;
  box-shadow: var(--shadow-elevation-medium);
  margin-bottom: 25px;
  .check {
    color: $red;
    margin-top: 10px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .quantity {
    margin-top: 10px;
  }
  label,
  input,
  select {
    margin-bottom: 20px;
    border: none;
  }
  input {
    background-color: $lightmint;
    border-radius: 15px;
    padding: 5px 15px;
    // box-shadow: var(--shadow-elevation-medium);
  }
  p {
    margin: 0 0 20px 0;
  }
  button {
    font-size: 2.1rem;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    // box-shadow: var(--shadow-elevation-medium);
  }
}

@media screen and (max-width: 786px) {
  form {
    width: 90%;
  }
}
